<a href="https://colab.research.google.com/github/benjaminsw/Time_Series/blob/main/R_lab_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
if (!require('gsheet')) install.packages('gsheet'); library('gsheet')

In [3]:
url <- 'https://docs.google.com/spreadsheets/d/1aLag4ZQG1aUeXYFnZzCi0v9FNHs9WiAm5v0U4EHYdJg/edit?usp=sharing'
data <- gsheet2tbl(url)
head(data)

  Date     admissions_glasgow
1 20060101 22
2 20060102 41
3 20060103 30
4 20060104 35
5 20060105 36
6 20060106 31